*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}
/* header style  */
.imgbc{
    background: url(./images/coffee-shop-10.jpg);
    background-repeat: no-repeat;
    height: 500px;
    background-position: -314px -422px;
    background-size: 1863px 1494.5px;
}
a{
    color: #262626;
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.navbar{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 0;

}
.menu{
    display: flex;
    align-items: center;
    margin: auto;

}
.menu li{
    font-weight: bold;
    color: #333333;
    padding: 0 20px;
    font-size: 20px;
    font-family: monospace;
}
.menu li a:hover{
    color:#DCA47D;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 8px 40px;
    background: #333333;
    color: white;
    font-size: 32px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 45px;
}
.btn a{
    color: white;
    font-family: monospace;
}
.btn:hover{
    /* opacity: 0.9; */
    background: #DCA47D;
}
.bigtitle{
    color: #333333;
    font-size: 50px;
    font-family: monospace;
}
.paratitle p{
    color: #666666;
    font-size: 20px;
    margin-top: 27px;
    padding-right: 100px;
    padding-left: 100px;
}
.showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    width: 100%;
    height: 400px;
}
/* header style  */


/* container style  */
.container{
    background-color: #272830;
}
.smalltitle{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    padding: 30px 30px 90px 30px;
    font-size: 37px;
}
.galerie{
    padding: 0px 180px 70px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 165px;
    grid-row-gap:70px ;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}
.galerieitemimg img{
    width: 100%;
}
.galerieitem h2{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-family: monospace;
    padding-top: 20px;
}
.galerieitem p{
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 12px;
    text-transform: capitalize;
}
.btndetail{
    cursor: pointer;
    display: block;
    border: 0;
    font-weight: bold;
    padding: 8px 17px;
    background: #DCA47D;
    color: #272830;
    font-size: 18px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 16px;
    text-align: center;
    /* margin-left: 53px; */
}
.btndetail:hover{
    background: white;
}
.btndetail a{
    color: #272830;
}
/* container style  */

/* wrapper imgaesfooter style  */
.wrapper{
    display: flex;

}
.wrapperitem{
    flex: 20%;
    max-width: 20%;
}
.img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* wrapper imgaesfooter style  */

/* footer style  */
.footer{
    background-color: black;
    color: white;
    display: grid;
    margin: 0px;
    grid-template-columns: 60% auto;
    grid-template-rows: 350px 50px;
    grid-template-areas: 'news cont'  
                         'copdr copdr';                            ;
}

.copr{
    grid-area: copdr;
    text-align: center;
    align-items: center;
}
.newsletter{
    grid-area: news;
    padding-top: 30px;
    padding-left: 30px;
}
.contactside{
    grid-area: cont;
    padding-top: 30px;
}
.contt{
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 35px;
    }
.newst{
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 35px;
    }    
.firtit {
        color: #DCA47D;
        font-family: monospace;
        font-size: 28px;
        }
.sectit {
            font-size: 20px;
            }        
#newsfname {
        cursor: pointer;
        height: 52px;
        width: 66%;
        border-radius: 12px;
        border-color: white;
        border-style: unset;
        }            
.inputst{
            color: #958585;
            font-size: 23px;
            padding-left: 18px;
        }        
#newssfname {
    cursor: pointer;
    height: 52px;
    width: 33%;
    border-radius: 12px;
    border-style: unset;
    background: #DCA47D;
    margin-left: 50px;
    
            }
.newsinput{
color: black;
font-size: 21px;
text-align: center;
font-family: monospace;
}  
.formnews{
    margin-top: 50px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.smc {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 55px;
    margin-left: 50px;
    }
.soctit {
        padding-right: 55px;
        }
.iconsoc {
            padding-right: 40px;
            height: 40px;
            }        
.copyrtit{
                text-align: center;
                font-family: monospace;
            font-size: 24px;
            text-transform: uppercase;
            }            
#newssfname:hover{

            background: white;
            }                   
.bigttcopy {color: #DCA47D;}           
.bigttcopy a{color: #DCA47D;}
.soic {
    display: flex;
}



/* --------------------------------- shop page style ------------------------------------ */
.bigtitleshop{
    color: #333333;
    font-size: 80px;
    font-family: monospace;
}
.paratitleshop p{
    color: #666666;
    font-size: 20px;
    margin-top: 27px;
    padding-right: 100px;
    padding-left: 100px;
}
.showcaseshop{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    width: 100%;
    height: 400px;
}
.smalltitleshop{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    padding: 30px 30px 60px 30px;
    font-size: 45px;
}
.galerieshop {
    padding: 0px 180px 0px 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 165px;
    grid-row-gap: 70px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}
.priceitem{
    color: #DCA47D;
}
.galerieitemimgshop img {
    width: 100%;
    /* border-color: white; */
    border-style: solid;
    /* border: 6px; */
    border: 6px solid white;
    border-radius: 6px;
}
.starsshop {
    display: flex;
    justify-content: center;
}
.price{
    display: flex;
    justify-content: center;
}
.pagenum {
    display: flex;
    justify-content: center;
}
.page {
    font-size: 60px;
    color: #DCA47D;
    padding: 15px;
    font-family: monospace;
}
.pageon {
    font-size: 60px;
    color: white;
    padding: 15px;
    font-family: monospace;
}
.page a{
    font-size: 60px;
    color: #DCA47D;
    padding: 15px;
    font-family: monospace;
}
.pageon a{
    font-size: 60px;
    color: white;
    padding: 15px;
    font-family: monospace;
}
/* --------------------------------- shop page style ------------------------------------ */



/* --------------------------------- shop item detils page style ------------------------------------ */
.galerieitemdetail{
    display: flex;
    flex-direction: row;

    justify-content: start;
    padding: 0px 150px 0px 150px;
}
.galerieitemimgshopdetail {
    width: 100%;
    padding-right: 50px;
}
.galerieitemimgshopdetail img{
    width: 100%;
    border-style: solid;
    border: 6px solid white;
    border-radius: 6px
}
.titiledetial{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
}
.starsshopdetail {
    padding-bottom: 10px;
}
.pricedetail {
    padding-bottom: 10px;
}
.priceitemdetail{
    color: #DCA47D;
    font-size: 40px;
}
p.pitemdetail {
    color: white;
    font-size: 17px;
}
.btndetaildetail {
    cursor: pointer;
    display: inline-flex;
    border: 0;
    font-weight: bold;
    padding: 8px 17px;
    background: #DCA47D;
    color: #272830;
    font-size: 25px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 25px;
    text-align: center;
    /* margin-left: 53px; */
}
.btndetaildetail:hover{
    background: white;
}
.btndetaildetail a{
    color: #272830;
}
.smalltitlerelated{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    padding: 40px 150px 40px 150px;
    font-size: 37px;
}
.galerieitemdetailrelated {
    padding-bottom: 80px;
}


/* --------------------------------- shop item detils page style ------------------------------------ */


/* --------------------------------- coffee type detils page style ------------------------------------ */
.headtab {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.intro {
    flex: 40%;
}
.needs {
    flex: 30%;
}
.time {
    flex: 30%;
}
.titletab{
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
}
.bodytab {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.titlesectab{
    color: white;
    font-size: 24px;
    text-align: left;
    padding: 20px 40px 0px 160px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: monospace;
}
.titlesectabp{
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 20px 40px 0px 160px;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 50px;
}
.tabcoff {
    padding-bottom: 20px;
}
.smalltitlestep{
    text-align: center;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 30px 30px 90px 30px;
    font-size: 37px;
}
.steps {
    margin: 0px 170px 0px 170px;
}
.step1 {
    display: flex;
    padding-bottom: 70px;
}
.step1pic{
    width: 40%;
    order: 2;
}
.step1disc{
    width: 60%;
    order: 1;
}
.step1pic img{
    width: 100%;
    border-style: solid;
    border: 6px solid white;
    border-radius: 6px;
}
.step1tit {
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 30px 30px;
    font-size: 37px;
}
.step1p{
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 20px 100px 0px 66px;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 50px;
}
.step2 {
    display: flex;
    padding-bottom: 70px;
}
.step2pic{
    width: 40%;
    order: 1;
}
.step2disc{
    width: 60%;
    order: 2;
}
.step2pic img{
    width: 100%;
    border-style: solid;
    border: 6px solid white;
    border-radius: 6px;
}
.step2tit {
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 30px 100px;
    font-size: 37px;
}
.step2p{
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 20px 100px 0px 66px;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 50px;
}
.step3 {
    display: flex;
    padding-bottom: 70px;
}
.step3pic{
    width: 40%;
    order: 2;
}
.step3disc{
    width: 60%;
    order: 1;
}
.step3pic img{
    width: 100%;
    border-style: solid;
    border: 6px solid white;
    border-radius: 6px;
}
.step3tit {
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 30px 30px;
    font-size: 37px;
}
.step3p{
    color: white;
    font-size: 18px;
    text-align: left;
    padding: 20px 100px 0px 66px;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 50px;
}
.enjoytit {
    text-align: center;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 40px 0px;
    font-size: 55px;
}
/* --------------------------------- coffee type detils page style ------------------------------------ */

/* --------------------------------- about us page style ------------------------------------ */
.headerau{
    display: flex;
    padding: 0px 170px 60px 170px;
    text-align: center;
}
.firsticn{
    width: 33%;
}
.firsticn img{
    width: 24%;
}
.titlehicn1{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 32px;
    padding-top: 10px;
}
.titlebicn1{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 23px;
    padding-top: 20px;
}

.secendicn{
    width: 33%;
}
.secendicn img{
    width: 24%;
}
.titlehicn2{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 32px;
    padding-top: 10px;
}
.titlebicn2{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 23px;
    padding-top: 20px;
}

.therdicn{
    width: 33%;
}
.therdicn img{
    width: 24%;
}
.titlehicn3{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 32px;
    padding-top: 10px;
}
.titlebicn3{
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 23px;
    padding-top: 20px;
}
.ourstory {
    padding-bottom: 20px;
}
.ourstorytit {
    text-align: center;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 40px 0px;
    font-size: 55px;
}
.paraourstory {
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 10px 200px 40px 200px;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 60px;
    line-height: 40px;
}
.aboutmetit{
    text-align: center;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    padding: 0px 0px 40px 0px;
    font-size: 55px;
}
.aboutme{
    display: flex;
    padding: 10px 200px 80px 200px;
}
.aboutmepicside {
    width: 40%;
}
.aboutmepicside img{
    width: 100%;
    border-style: solid;
    border: 6px solid white;
    border-radius: 6px;
}
.aboutmedescside {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 30px 60px;
}
.aboutmedescsideh1 {
    color: white;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 54px;
}
.aboutmedescsideh2 {
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 31px;
    padding-bottom: 25px;
}
.aboutmedescsidep {
    color: white;
    font-size: 18px;
    text-align: left;
    letter-spacing: 0px;
    font-family: monospace;
    text-indent: 50px;
    line-height: 38px;
}


/* --------------------------------- about us page style ------------------------------------ */



/* --------------------------------- contact us page style ------------------------------------ */

form#reused_form {
    padding: 0px 270px 70px 271px;
}
.form_name {
    display: flex;
    padding-bottom: 40px;
}
.label_name {
    width: 25%;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 35px;
}
.form_control_name {
    width: 40%;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
.form_control_name::placeholder {
    color: #958585;
    font-size: 23px;
    padding-left: 22px;
    border-radius: 20px;
  }

.form_email {
    display: flex;
    padding-bottom: 40px;
}
.label_email {
    width: 25%;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 35px;
}
.form_control_email {
    width: 40%;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
.form_control_email::placeholder {
    color: #958585;
    font-size: 23px;
    padding-left: 22px;
  }  

.form_messege {
    display: flex;
    align-items: center;
}
.label_message {
    width: 25%;
    color: #DCA47D;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 35px;
}
.form_control_messege {
    width: 70%;
    height: 250px;
    font-size: 25px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
.form_control_messege::placeholder {
    color: #958585;
    font-size: 23px;
    padding-left: 22px;
    padding-top: 15px;
  }    
  .form_button {
    display: flex;
    align-items: center;
}
.emptyfb{
    width: 25%;
}



  .btnsendmsg {
    cursor: pointer;
    display: block;
    border: 0;
    font-weight: bold;
    padding: 17px 30px;
    background: #DCA47D;
    color: #272830;
    font-size: 28px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
}  
.btnsendmsg:hover{
    background: white;
}
.btnsendmsg a{
    color: #272830;
}
/* --------------------------------- contact us page style ------------------------------------ */





/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .imgbc {
        background-position: -396px -550px;
        background-size: 1862px 1556.5px;
    }
    .menu li {
        padding: 0 9px;
        font-size: 17px;
    }
    .bigtitle {
        font-size: 25px;
    }
    .galerie {
        padding: 0px 40px 30px 40px;
        grid-template-columns: 1fr;
    }
    .paratitle p {
        font-size: 17px;
        margin-top: 14px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .footer {
        display: flex;
        flex-flow: column;
    }
    .cont {
        margin-left: 40px;
    }
    .formnews {
        margin-top: 20px;
        display: flex;
        margin-left: 0px;
        margin-right: 30px;
        flex-flow: column;
    }
    #newsfname {
        width: 100%;
    }
    #newssfname {
        width: 60%;
        margin-left: 50px;
        margin-top: 17px;
    }
    .smc {
        margin-top: 17px;
        margin-left: 0px;
        flex-flow: column;
    }
    .soctit {
        margin-bottom: 17px;
        padding-right: 0px;
        font-size: 21px;
    }
    .copyrtit {
        font-size: 14px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    /* --------- shop resposive ---------- */    
    .bigtitleshop {
        font-size: 50px;
    }
    .paratitleshop p{
        font-size: 18px;
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .galerieshop {
        padding: 0px 40px 30px 40px;
        grid-template-columns: 1fr;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) and (max-width: 750px) {
    .bigtitle {
        font-size: 37px;
    }
    .galerie {
        padding: 0px 80px 70px 80px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 96px;
    }
    .formnews {
        margin-top: 16px;
        margin-left: 0px;
        margin-right: 0px;
        flex-flow: column;
    }
    #newssfname {
        width: 50%;
        margin-top: 20px;
    }
    #newsfname {
        width: 80%;
    }
    .soctit {
        padding-right: 20px;
        padding-bottom: 7px;
        font-size: 21px;
    }
    .iconsoc {
        padding-right: 21px;
        height: 25px;
    }
    .smc {
        margin-top: 3px;
        margin-left: 0px;
        flex-flow: column;
    }
    /* --------- shop resposive ---------- */  
    .bigtitleshop {
        font-size: 50px;
    }
    .galerieshop {
        padding: 0px 80px 70px 80px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 96px;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 751px) and (max-width: 868px) {
    .bigtitle {
        font-size: 37px;
    }
    .galerie {
        padding: 0px 80px 70px 80px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 96px;
    }
    .formnews {
        margin-top: 16px;
        margin-left: 0px;
        margin-right: 0px;
        flex-flow: column;
    }
    #newssfname {
        width: 50%;
        margin-top: 20px;
    }
    #newsfname {
        width: 80%;
    }
    .soctit {
        padding-right: 90px;
        padding-bottom: 18px;
    }
    .smc {
        margin-top: 17px;
        margin-left: 0px;
        flex-flow: column;
    }
    /* --------- shop resposive ---------- */  
    .galerieshop {
        padding: 0px 80px 70px 80px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 96px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 868px) and (max-width: 992px){
    .galerie {
        padding: 0px 140px 70px 140px;
        grid-template-columns: 1fr 1fr;
    }
    /* --------- shop resposive ---------- */  
    .galerieshop {
        padding: 0px 140px 70px 140px;
        grid-template-columns: 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1300px) and (min-width: 992px) {
    .galerie {
        padding: 0px 110px 70px 110px;
        grid-column-gap: 122px;
    }
    /* --------- shop resposive ---------- */  
    .galerieshop {
        padding: 0px 110px 70px 110px;
        grid-column-gap: 122px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1300px) {
} 


